*{
    margin: 0;
    padding: 0;
}
.slang-up, .slang-low {
    text-align: center;
    text-transform: uppercase;
    background-color: #58afa4;
    padding: 1%;
    color: blue;
    font-family: Verdana,sans-serif;
    font-weight:bold;
}
table {
    width:100%;
}
ul {
    margin: 20px;
}
.k-of-sp {
    background-color: yellow;
    width: 10%;
}
h1 {
    font-family: Verdana,sans-serif;
    text-align: center;
    padding: 2%;
}
img {
    float: left;
    width: 15%;
    padding: 20px;
    clear: both;
}
p {
    font-size: 30px;
}