body {
    /* background-color: #3bac3b; */
}
.lt {
  display: inline-block;
}
.logo {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 0;
}
header {
    border-bottom: 2px solid green;
}
.slogan {
    margin-bottom: 0;
    box-sizing: border-box;
    width: 800px;
    height: 70px;
    text-align: center;
    display: inline-block;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Noto Serif JP', serif;
}
.numb {
    display: inline-block;
}